<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Fox</title>
</head>
<body>
<nav>
    <ul>
        <li><a th:href="${fox!=null} ? '/?name=' + ${fox.getName()} : ''">Information</a></li>
        <li><a th:href="${fox!=null} ? '/nutritionStore?name=' + ${fox.getName()} : ''" >Nutrition</a></li>
        <li><a th:href="${fox!=null} ? '/trickCenter?name=' + ${fox.getName()} : ''" >Trick Center</a></li>
    </ul>
</nav>
<div th:replace="${infoPage != null} ?
        ~{fragments/bodyView :: infoBox} :
        ~{fragments/bodyView :: nothing}">
</div>
<div th:replace="${nutrition != null} ?
        ~{fragments/bodyView :: nutrition} :
        ~{fragments/bodyView :: nothing}">
</div>
<div th:replace="${tricks != null} ?
        ~{fragments/bodyView :: infoBox} :
        ~{fragments/bodyView :: nothing}">
</div>
<div th:replace="${history != null} ?
        ~{fragments/bodyView :: infoBox} :
        ~{fragments/bodyView :: nothing}">
</div>
</body>
</html>

<!--
<style>
    body {
        background-image: url("../static/images/pexels-photo-1179229.jpeg");
    }
</style>-->
