<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>Assignee</title>
</head>
<header>
  <div th:replace="fragments/body :: navbar"></div>
</header>
<body>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Delete</th>
    <th>Edit</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="assignee: ${assignees}" th:object="${assignee}">
    <td th:text="*{id}">
    <td><a th:href="${assignee != null} ? '/todo/assignee/'+${assignee.id}+'/todos'"
           th:text="*{name}"></a></td>
    <td th:text="*{email}">
    <td><a th:href="|/todo/assignee/*{id}/delete|">DELETE</a></td>
    <td><a th:href="|/todo/assignee/*{id}/edit|">EDIT</a></td>
  </tr>
  </tbody>
</table>

</body>
</html>