<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Todos</title>
</head>
<header>
    <div th:replace="fragments/body :: navbar"></div>
</header>
<body>
<form action="/todo/" method="post">
    <label>Search:
        <input type="text" name="text"/>
    </label>
    <label>Date:
        <input type="date" name="date">
    </label>
    <button type="submit">Search in title, desc</button>
    <button type="submit" formaction="/todo/assignee/">Search by name</button>
    <button type="submit" formaction="/todo/date/">Search by date</button>
</form>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Urgent</th>
        <th>Done</th>
        <th>Created</th>
        <th>Due date</th>
        <th>Assignee</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="todo: ${todos}" th:object="${todo}">
        <td th:text="*{id}">
        <td th:text="*{title}">
        <td th:text="*{description}">
        <td th:text="*{urgent}">
        <td th:text="*{done}">
        <td th:text="*{creationDate}">
        <td th:text="*{{dueDate}}">
        <td><a th:href="*{assignee != null} ? '/todo/assignee/'+*{assignee.id}+'/todos'"
               th:text="*{assignee != null} ? *{assignee.name} : 'not assigned'"></a></td>
        <td><a th:href="|/todo/*{id}/delete|">DELETE</a></td>
        <td><a th:href="|/todo/*{id}/edit|">EDIT</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>