<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>Todos</title>
</head>
<header>
  <div th:replace="fragments/body :: navbar"></div>
</header>
<body>
<form th:action="|/todo/${id}/edit/|" method="post" class="addform">
  <label>Title:
    <input type="text" th:field="${todo.title}" name="title">
  </label>
  <label>Description:
    <input type="text" th:field="${todo.description}" name="description">
  </label>
  <label>Urgent:
    <select th:valuetype="boolean" name="urgent">
      <option th:value="true"
              th:selected="${todo.urgent == true} ? true : false">True</option>
      <option th:value="false"
              th:selected="${todo.urgent == false} ? true : false">False</option>
    </select>
  </label>
  <label>Assignee:
    <select name="assigneeId">
      <option th:each="assignee: ${assignees}" th:object="${assignee}"
              th:text="*{name}" th:value="*{id}"
              th:selected="${todo.assignee == assignee} ? true : false"></option>
    </select>
  </label>
  <label>Due date:
    <input type="date" th:value="${todo.dueDate}" name="dueDate">
  </label>
  <button type="submit">Add</button>
</form>

</body>
</html>

