<div th:fragment="navbar" class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <a class="navbar-brand" href="/useful">Useful utilities</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto topnav">
                <li class="nav-item">
                    <a class="nav-link" href="/useful/colored">Colored</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/useful/email">Email</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/useful/email(email='is@this.valid')">Email-testmail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/useful/coding">Coding</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/useful/coding">Coding</a>
                </li>
            </ul>
        </div>
    </nav>
</div>