<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>Reddit</title>
</head>
<header>
    <nav>
        <ul>
            <li><a href="/submit">Add new post</a></li>
        </ul>
    </nav>
</header>
<body>
<ul class="posts">
    <li>
        <th:block th:each="post : ${page.content}" th:object="${post}">
            <div class="individual-post">
                <h4 th:text="*{created}"></h4>
                <p th:text="*{voteValue}"></p>
                <a class="upDown" th:href="@{/{id}/voteUp(id=*{id})}">+</a>
                <a class="upDown" th:href="@{/{id}/voteDown(id=*{id})}">-</a>
                <a th:href="@{*{url}}" th:text="*{title}"></a>
            </div>
        </th:block>
    </li>
</ul>
<div class="pagination-div">
    <span th:if="${page.hasPrevious()}">
        <a th:href="@{/(page=${page.number-1})}">Previous</a>
    </span>
    <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
        <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
        <span th:unless="${page.number == i}">
             <a th:href="@{/(page=${i})}">[[${i}+1]]</a>
        </span>
    </th:block>
    <span th:if="${page.hasNext()}">
        <a th:href="@{/(page=${page.number+1})}">Next</a>
    </span>
</div>


</body>
</html>