<div th:fragment="nothing"></div>

<div th:fragment="infoBox">
    <img alt="green fox" th:src="${imageLocation==null} ? @{/images/greenfox.png} : @{|/images/${imageLocation}|}"><br>

    <span th:text="'This is ' +${fox.name} +
    '. Currently living on ' + ${fox.food.displayValue} + ' and '+${fox.drink.displayValue} +'.
     He knows ' + ${fox.tricks.size()} +' tricks.'
    "></span>

    <h2>Known tricks</h2>

    <div th:replace="${trickList.size() !=0}  ?
    ~{fragments/tricksView :: list} :
    ~{fragments/tricksView :: emptyList}">
    </div>
</div>

<div th:fragment="nutrition">
    <form th:action="'/nutritionStore/?name=' + ${fox.getName()}" method="post">
        <label>Food:
            <select name="food">
                <option th:each="food : ${T(com.greenfoxacademy.foxclub.models.Foods).values()}"
                        th:value="${food}" th:text="${food.displayValue}"></option>
            </select>
        </label>
        <label>Drink:
            <select name="drink">
                <option th:each="drink : ${T(com.greenfoxacademy.foxclub.models.Drinks).values()}"
                        th:value="${drink}" th:text="${drink.displayValue}"></option>
            </select>
        </label>
        <button type="submit">Change</button>
    </form>
</div>

<div th:fragment="tricks">
    <form th:action="'/trickCenter/?name=' + ${fox.name}" method="post">
        <label>Trick:
            <select name="trick">
                <option th:each="trick : ${T(com.greenfoxacademy.foxclub.models.Trick).values()}"
                        th:if="${!trickList.contains(trick)}"
                        th:value="${trick}"
                        th:text="${trick.displayValue}"></option>
            </select>
        </label>
        <button type="submit">Add</button>
    </form>
</div>